:host {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: 960px;
}
header {
  display: grid;
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: 50%;
  grid-template-areas:
    "title info"
    "subtitle info"
    "summary summary";
  > h1 {
    grid-area: title;
    font-size: 4rem;
    margin: 0;
  }
  > h2 {
    grid-area: subtitle;
    margin: 0;
    align-self: end;
    font-size: 2rem;
  }
  > ul {
    grid-area: info;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      vertical-align: middle;
      padding: 0.25rem 0;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
      mat-icon {
        margin-right: 0.5rem;
      }
    }
  }
  > div {
    grid-area: summary;
    border: 0.23rem solid #444;
    border-left: none;
    border-right: none;
    h3 {
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}
main {

}
