/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Helvetica", "Arial", "sans-serif";
}
@media screen {
  body {
    display: block;
    background: #bada55;
    padding: 1rem;
  }
}
@media screen and (max-width: 960px) {
  body {
    padding: 0.5rem;
  }
}
